name: C/C++ CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install
      run: chmod 755 install-vagrant-deps.sh && time install-vagrant-deps.sh 
    - name: make 
      run: cd solo-builder && chmod 755 source_sync.sh &&  ./source_sync.sh
    - name: make artoo
      run: cd artoo && tup
